:root {
  --main-white: #f0f0f0;
  --main-red: #d10966;
  --Dark-1-hex: #d6c84b;
  --Dark-2-hex: #ad79a5;

  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #0c090a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navlist {
    display: flex;
    list-style-type:none;
  }
  
  .navlist a {
    display: block;
    color: var(--main-white);
    padding: 1rem;
  }
  
  .navlist a:hover {
    background: var(--main-red);
  }
  
  a {
    text-decoration: none;
  }
  
  #welcome-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("https://unsplash.com/photos/NkQD-RHhbvY");
    background-color: rgb(235, 183, 218);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 4rem;
    padding: 3rem;
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-2-hex)
  }

  #projects h1{
    color: aliceblue;
  }
  .project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-tile {
    margin: 2rem;
  }

  .project-tile img {
    width: 10rem;

  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-1-hex);
    
  }

 .contact-links a {
   font-size: x-large;
   padding: 3rem;
   
 }

 #contact h1{
   color: aliceblue;
 }
 
 footer{
   padding: 3rem;
   text-align: center;
   background-color: var(--Dark-1-hex);
 }

  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 640px / 16px = 40em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
      color: red;
    }
  }