:root {
  --main-white: #f0f0f0;
  --main-red: #b10606;
  --Teal-Dark-1-hex: #2C3532;
  --Teal-Dark-2-hex: #0F6466;
  --Teal-Dark-3-hex: #D8B08C;
  --Teal-Dark-4-hex: #FFCB9A;
  --Teal-Dark-5-hex: #D2E8E3;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #352142;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navlist {
    display: flex;
    list-style-type:none;
  }
  
  .navlist a {
    display: block;
    color: var(--main-white);
    padding: 1rem;
  }
  
  .navlist a:hover {
    background: var(--main-red);
  }
  
  a {
    text-decoration: none;
  }
  
  #welcome-section {
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-tile {
    margin: 2rem;
  }

  .project-tile img {
    width: 10rem;

  }


  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 640px / 16px = 40em */
  @media (max-width: 40em) {
    html {
      font-size: 50%;
      color: red;
    }
  }