* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 0, 191, 0.384),rgba(179, 255, 0, 0.5), rgba(21, 255, 0, 0.384)),
  url(/images/wall1.jpeg);
}
main {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: .5rem;
}

figure img {
  max-height: 20rem;
  border: 1.5mm ridge  rgba(224, 215, 222, 0.253);
}

figcaption {
  color: rgb(12, 12, 12);
  text-align: center;
  animation-name: slide;
}

button {
  width: 15rem;
  height: 2.5rem;
  margin: 1rem;
  color: rgb(250, 241, 241);
  background: rgba(31, 24, 29, 0.623);
  border: 1.5mm ridge  rgba(2, 2, 32, 0.253);
  background-color: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 0, 191, 0.253));
  font-size: large;
  text-align: center;
  
}